[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysqlclient = "*"
flask-login = "*"
flask-migrate = "*"
flask-mysql = "*"
flask-wtf = "*"
email-validator = "*"
flask-mysqldb = "*"

[dev-packages]

[requires]
python_version = "3.11"
